.card-box {
  width: 940px;
  height: 3486px;
  margin-top: 120px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.story-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 658px;
  height: 262px;
}

.story-h2 {
  display: block;
  width: 578px;
  height: 80px;
  font-family: Karla;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

.story-p {
  display: block;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
}

.story-caption {
  display: block;
  width: 133px;
  height: 30px;
  font-family: Karla;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0;
  color: rgba(162, 95, 75, 1);
}

.separator-p-box {
  width: 100vh;
  height: 18px;
  text-align: center;
}

.separator-p {
  font-family: Karla;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(29, 31, 46, 1);
}

.feature-card {
  width: 480px;
  height: 657px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-card-img {
  width: 460px;
  height: 540px;
}

.name-card {
  font-family: Karla;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  padding-top: 35px;
  padding-bottom: 5px;
  color: rgba(29, 31, 46, 1);
}

.price-box {
  width: 162px;
  height: 47px;
  display: flex;
  justify-content: center;
}

.sale-price {
  font-family: Karla;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: rgba(162, 95, 75, 1);
}

.price {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: rgba(29, 31, 46, 0.7);
}

.between {
  justify-content: space-between;
}

.card {
  width: 316px;
  height: 493px;
  align-items: center;
  border: none;
}

.card-img {
  width: 300px;
  height: 380px;
}

.notes-img {
  width: 280px;
  height: 280px;
}

.mug-hand-img {
  width: 160px;
  height: 130px;
}

.mug-img {
  width: 160px;
  height: 130px;
}

.offer-box {
  width: 940px;
  height: 280px;
}

.two-image {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 280px;
  gap: 20px;
}

.offer-image-box {
  display: flex;
  gap: 20px;
}

.offer-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
  padding-bottom: 9px;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 199px;
}

.offer-text {
  color: rgba(29, 31, 46, 1);
  font-family: Karla;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-offer-text {
  width: 237px;
  height: 100px;
  color: rgba(29, 31, 46, 1);
  font-family: Karla;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0px;
}

.description-offer-text {
  width: 353px;
  height: 56px;
  color: rgba(29, 31, 46, 0.7);
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}

.start-shopping-btn {
  width: 173px;
  height: 36px;
  background-color: rgba(29, 31, 46, 1);
  font-family: Karla;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
