.reset {
  margin: 0;
  padding: 0;
}

.reset-a {
  color: inherit; /* Наследует цвет от родителя */
  text-decoration: none; /* Убирает подчеркивание */
  cursor: pointer; /* Обычно у ссылок курсор pointer, можно убрать */
  font-weight: inherit; /* Наследует жирность текста */
}

.header-box {
  width: 940px;
  height: 80px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.logo-box {
  width: 112px;
  height: 24px;
}

.font-nav-a {
  font-family: Karla;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}


.nav-box {
  width: 656px;
  height: 30px;
  padding-left: 47px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.cart-img {
  width: 16px;
  height: 20px;
}

.cart-box {
  width: 92px;
  height: 26px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3);
}

.cart-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.count {
  width: 20px;
  height: 20px;
  background-color: black; /* цвет шара */
  color: white; /* цвет текста */
  border-radius: 50%; /* делает круг / эллипс */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* размер цифры, подбирается под шар */
  font-weight: bold; /* чтобы цифра была чёткой */
  line-height: 1; /* убираем лишние отступы внутри текста */
}
